<div id="page-component" class="about-module page-component">
    <div class="about-wrapper">
        about page
    </div>
</div>

{% schema %}
{
  "name": "About",
  "tag": "section",
  "class": "about-page",
  "limit": 1
}
{% endschema %}
