<div class="shop-module page-component">
    this is the shop module
</div>

{% schema %}
{
  "name": "Home Collection",
  "tag": "section",
  "class": "home-collection",
  "limit": 1
}
{% endschema %}
