.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: var(--thin);
    margin: 0 auto;

    // Logo
    .logo img {
        width: 100%;
        max-width: 140px;
    }

    // Hamburger
    .hamburger img {
        max-width: 80px;
    }
}